@using JqUiMvc.Models
@model TaskViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("BE", "Index", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User.Identity.GetUserName()<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Edit Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul> <!--navbar-right-->
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2" id="steps">
                @Html.Partial("_StepsNav", Model)
                <div id="beVisitSubmit">
                    <button type="button" class="btn btn-success btn-lg">Review &amp; Submit</button>
                </div>
            </div>

            <div class="col-md-10">
                <div id="workArea">
                    <div class="well well-sm be-clientHeader">
                        @Model.CurrStep.Name
                        <button type="button" class="btn btn-success btn-xs pull-right beSaveAndContinue">Save &amp; Continue<span class="glyphicon glyphicon-play"></span></button>
                        <span id="beViewHeaderMessage" class="pull-right"></span> 
                    </div>
                    @RenderBody()
                    <div>
                        <hr />
                        <button type="button" class="btn btn-success btn-xs pull-right beSaveAndContinue">Save &amp; Continue<span class="glyphicon glyphicon-play"></span></button>
                    </div>
                </div>
            </div>
        </div>
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        //var currView = "@ViewBag.CurrView"; // Make this fact easily accessible

        $(function () {
            var visSumm = "none";

            if ( "@Model.HasDatabaseCore" == "True" )
                visSumm = "block";

            $("#beVisitSummary").css("display", visSumm );

        ///////////////////////////////
        // User clicked Nav Button
        //
            $(".beStepBtn").click(function () {
                var view = $(this).data("view");
                var state = $("#CurrStep_State").val();

                if (state == 2)// @StepState.Errors.ToString()
                {
                    alert("Must correct Errors before Saving"); //
                }
                else if (state == 3)// @StepState.Modified.ToString()
                {
                    alert("Must Save before going to " + view); //
                }
                else {
                    var newHref = "@Url.Action("Navigate", "Home", new { area = "" })" + "?view=" + view;
                    location.href = newHref;
                }
        });
        ///////////////////////////////
        // User clicked Save & Continue
        //
        $(".beSaveAndContinue").click(function () {
            var state = $("#CurrStep_State").val();

            if (state == 0)// @StepState.None.ToString()
            {
                alert("No data present"); //
            }
            else if (state == 1)// @StepState.Complete.ToString()
            {
                alert("No changes detected"); //
            }
            else if (state == 2)// @StepState.Errors.ToString()
            {
                alert("Must correct Errors before Saving"); //
            }
            else if (state == 3)// @StepState.Modified.ToString()
            {
                //var newHref = "@Url.Action("SaveAndContinue", "Home", new { area = "" })" + "?view=@ViewBag.CurrView&state=" + state;
                //location.href = newHref;

                $.ajax({
                    url: "@Url.Action("SaveAndContinue", "Home", new { area = "" })",
                    type: 'POST',
                    data: { CurrView: "@ViewBag.CurrView", State: state },
                    dataType: 'json',
                    success: function (data) {
                        location.href = data.url + "?view=" + data.view;
                    },
                    error: function errorFunc(data) {
                        alert('error' + data.status);
                    }
                }); 

                @*$("#CurrStep_View").val("@Model.CurrStep.View")
                $("#CurrStep_State").val(state)
                $("form").submit();*@
            }
        });
        ////////////////////////////////////////////////
        // This #CurrStep_State is purely for developing
        //
        $("#CurrStep_State").change(function () {
            var val = $(this).val();
            console.log("@Model.CurrStep.View changed. value=" + val)
            //TODO: Update Step icon
            $.ajax({
                url: "@Url.Action("UpdateViewData", "Home")",
                type: 'POST',
            dataType: "json",
            data: { view:"@Model.CurrStep.View", state: val },
                success: function (d) {
                    $("#beViewHeaderMessage").text(d.message);
                    console.log(d);
            },
            error: function errorFunc(data) {
                alert('error' + data.status);
            }
        });

        });
    });
    </script>
</body>
</html>
